{% extends 'base.html' %}

{% block content %}
  

  <div class="container">
 <div class="row">

    <aside id="column-left" class="col-sm-3 hidden-xs">
        <div class="list-group">
          <a href="https://roboindia.com/store/nodemcu-esp" class="list-group-item">NodeMCU / ESP (18)</a>
            <a href="https://roboindia.com/store/raspberry-pi" class="list-group-item active">Raspberry Pi (33)</a>
          
        </div>
      </aside>
    
    
    
    <div id="cntent" class="col-sm-9 hidden-xs >
        <div class="product-layout product-list col-xs-12">
            <div class="product-thumb">
              <div class="image"><a href="https://roboindia.com/store/raspberry-pi/raspberry-pi-PICO-learning-kit"><img src="images/81TGFq2KOdL._SL1500_-228x228.jpg" alt="Raspberry Pi PICO - Basic Learning Kit for Beginners" title="Raspberry Pi PICO - Basic Learning Kit for Beginners" class="img-responsive"></a></div>
              <div>
                <div class="caption">
                  <h4><a href="https://roboindia.com/store/raspberry-pi/raspberry-pi-PICO-learning-kit">Raspberry Pi PICO - Basic Learning Kit for Beginners</a></h4>
                  <p>Raspberry Pi PICO basic learning kit for learning python language. PICO development board from Raspb..</p>
                                  <p class="price">
                                      <span class="price-new">Rs. 1,499.00</span> <span class="price-old">Rs. 2,499.00</span>
                                                      </p>
                                                </div>
                <div class="button-group">
                  <button type="button" onclick="cart.add('766', '1');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
                  <button type="button" data-toggle="tooltip" title="Add to Wish List" onclick="wishlist.add('766');"><i class="fa fa-heart"></i></button>
                  <button type="button" data-toggle="tooltip" title="Compare this Product" onclick="compare.add('766');"><i class="fa fa-exchange"></i></button>
                </div>
              </div>
            </div>
          </div>
          <div class="product-layout product-list col-xs-12">
            <div class="product-thumb">
              <div class="image"><a href="https://roboindia.com/store/raspberry-pi/raspberry-pi-PICO-learning-kit"><img src="images/81TGFq2KOdL._SL1500_-228x228.jpg" alt="Raspberry Pi PICO - Basic Learning Kit for Beginners" title="Raspberry Pi PICO - Basic Learning Kit for Beginners" class="img-responsive"></a></div>
              <div>
                <div class="caption">
                  <h4><a href="https://roboindia.com/store/raspberry-pi/raspberry-pi-PICO-learning-kit">Raspberry Pi PICO - Basic Learning Kit for Beginners</a></h4>
                  <p>Raspberry Pi PICO basic learning kit for learning python language. PICO development board from Raspb..</p>
                                  <p class="price">
                                      <span class="price-new">Rs. 1,499.00</span> <span class="price-old">Rs. 2,499.00</span>
                                                      </p>
                                                </div>
                <div class="button-group">
                  <button type="button" onclick="cart.add('766', '1');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
                  <button type="button" data-toggle="tooltip" title="Add to Wish List" onclick="wishlist.add('766');"><i class="fa fa-heart"></i></button>
                  <button type="button" data-toggle="tooltip" title="Compare this Product" onclick="compare.add('766');"><i class="fa fa-exchange"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

    

      
   



{% endblock %}